<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	<appSettings>
		<!-- Server -->
		<add key="host" value="localhost" />
		<!-- My topic/name -->
		<add key="me" value="kzu" />
		<!-- Arbitrary topic/names to follow -->
		<add key="nico" value="Red" />
		<add key="aylu" value="DeepPink" />
		<add key="agus" value="BlueViolet" />
		<add key="any" value="SpringGreen" />
		<add key="pa" value="DarkGreen" />
	</appSettings>
</configuration>