<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Moq" version="4.2.1510.2205" targetFramework="net462" />
  <package id="System.Diagnostics.Tracer" version="2.0.4" targetFramework="net462" />
  <package id="System.Net.Mqtt" version="0.4.2-experimental" targetFramework="net462" />
  <package id="System.Net.Mqtt.Server" version="0.4.2-experimental" targetFramework="net462" />
  <package id="System.Net.Sockets" version="4.1.0" targetFramework="net462" />
  <package id="System.Reactive" version="3.0.0" targetFramework="net462" />
  <package id="System.Reactive.Core" version="3.0.0" targetFramework="net462" />
  <package id="System.Reactive.Interfaces" version="3.0.0" targetFramework="net462" />
  <package id="System.Reactive.Linq" version="3.0.0" targetFramework="net462" />
  <package id="System.Reactive.PlatformServices" version="3.0.0" targetFramework="net462" />
  <package id="System.Reactive.Windows.Threading" version="3.0.0" targetFramework="net462" />
  <package id="System.Runtime.Serialization.Primitives" version="4.1.1" targetFramework="net462" />
  <package id="xunit" version="2.1.0" targetFramework="net462" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net462" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net462" />
  <package id="xunit.core" version="2.1.0" targetFramework="net462" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net462" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net462" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net462" />
</packages>